* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav {
  padding: 20px 0 20px 0;
  text-align: right;
  padding-right: 10%;
  top: 0;
  position: sticky;
  background-color: #ffffff;
  z-index: 4;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.logo {
  float: left;
  padding-left: 10%;
  font-size: 16px;
  font-weight: bold;
  font-family: "Russo One", sans-serif;
}
.logo a {
  text-decoration: none;
  color: #d63031;
}
.recipe-details {
  padding-top: 50px;
  padding-right: 10%;
}
.loader {
  position: absolute;
  left: 53%;
  top: 50%;
  z-index: 1;
  margin: -120px 0 0 -75px;
  border: 3px solid #f3f3f3;
  border-radius: 100%;
  border-top: 3px solid #d63031;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}
.hide {
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.detail-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  justify-items: center;
}
.picture-container {
  width: 400px;
  height: 400px;
}
.picture-card {
  width: 90%;
  height: 90%;
}
.ingredients h1 {
  font-family: "Balsamiq Sans", cursive;
  margin-bottom: 20px;
}
.ingredients h3 {
  font-family: "Balsamiq Sans", cursive;
  color: #d63031;
  margin-bottom: 18px;
}
.ingredients h3 a {
  font-family: "Balsamiq Sans", cursive;
  color: #d63031;
  text-decoration: none;
}
.ingredients .ingredients-head {
  color: #000000;
  margin-bottom: 14px;
}
.ingredients li {
  margin-bottom: 24px;
}
.button {
  background-color: #d63031;
  border: none;
  color: white;
  padding: 7px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  outline: none;
  cursor: pointer;
}
.footer {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 4%;
  background-color: #d63031;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}
.footer-logo a {
  text-decoration: none;
  color: #ffffff;
  float: left;
  padding-left: 10%;
  font-size: 18px;
  font-weight: bold;
  font-family: "Russo One", sans-serif;
}
.footer2 {
  text-align: center;
  color: #ffffff;
  background-color: #2d3436;
  padding-top: 2%;
  padding-bottom: 2%;
}
.footer2 a {
  text-decoration: none;
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  .detail-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    justify-items: center;
  }
  .footer {
    padding-top: 5%;
    padding-bottom: 10%;
  }
  .footer2 {
    padding-top: 5%;
    padding-bottom: 5%;
  }
}
